// Variables :: Icons

// Font Size
$HSS-icon-size-base:                16px !default;

$HSS-icon-size--lg:                 20px !default;
$HSS-icon-size--sm:                 14px !default;
$HSS-icon-size--xs:                 12px !default;
