// The CSS in here ain't pretty.
// It is what it is to get things working.
// 0/10.
// Would not recommend for building stuff.

img {
  max-width: 100%;
  height: auto;
}

.o-demo-container {
  max-width: 700px;
  padding: 0 20px;
  margin: 30px auto;
}

.u-text-center {
  text-align: center;
}

.u-mrg-auto {
  margin: auto;
}
