// Components :: Form Validation

$HSS-form-validation-namespace: "c-form-validation" !default;

$HSS-form-validation__message-padding:  2px;
$HSS-form-validation__icon-offset:      10px;


.#{$HSS-form-validation-namespace} {
  position: relative;
}

.#{$HSS-form-validation-namespace}__message {
  background-color: $HSS-color-warning--bg;
  border: 1px solid $HSS-color-warning--border;
  border-radius: $HSS-border-radius;
  bottom: 0;
  color: $HSS-color-warning--text;
  display: block;
  font-size: $HSS-font-size--xs;
  line-height: $HSS-line-height--sm;
  position: absolute;
  padding: $HSS-form-validation__message-padding;
  transform: translateY(100%);
  z-index: $HSS-z-index--validation;
}

.#{$HSS-form-validation-namespace}__icon {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;

  bottom: 0;
  padding-left: $HSS-form-validation__icon-offset;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
}

// States
.#{$HSS-form-validation-namespace}__message {
  &.is-danger {
    background-color: $HSS-color-danger--bg;
    border-color: $HSS-color-danger--border;
    color: $HSS-color-danger--text;
  }

  &.is-success {
    background-color: $HSS-color-success--bg;
    border-color: $HSS-color-success--border;
    color: $HSS-color-success--text;
  }
}
