// Componets :: Inputs

$HSS-input-namespace: "c-form-control" !default;

.#{$HSS-input-namespace} {
  background-color: $HSS-color-white;
  border: $HSS-border;
  border-radius: $HSS-border-radius;
  display: inline-block;
  font-size: $HSS-font-size-base;
  min-height: $HSS-form-height;
  min-width: $HSS-form-width--min;
  line-height: $HSS-form-line-height;
  padding: $HSS-form-padding;
  position: relative;
  vertical-align: middle;
  width: 100%;
  z-index: $HSS-z-index--base;

  &:hover {
    border-color: $HSS-color-gray;
  }

  &:focus {
    border-color: $HSS-color-branding;
    outline: none;
  }
}


// States
.#{$HSS-input-namespace} {
  &.is-danger {
    border-color: $HSS-color-danger--text;

    &:focus {
      box-shadow: 0 0 2px $HSS-color-danger--text;
    }
  }

  &.is-success {
    border-color: $HSS-color-success--text;

    &:focus {
      box-shadow: 0 0 2px $HSS-color-success--text;
    }
  }
}
